<h2>Entries</h2>
{% if entry_list %}
<ul>
  
  {% for entry in entry_list %}
  <li>
    <a href="{{ entry.link }}">{{ entry.title }}</a>    
    <p>{{ entry.summary }}</p>
    <b>{{ entry.mine }}</b>
    <form action="{% url 'bookmark_entry' entry_id=entry.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Bookmark me!</button>
    </form>
  </li>
  {% endfor %}
  
</ul>
{% else %}
<p>There are not entries for this feed.</p>
{% endif %}
<p>
  <form action="{% url 'user_update_feed' feed_id=feed_id %}" method="post">
    {% csrf_token %}
    <button type="submit">Update this feed</button>
  </form>
</p>
<p>Back to your <a href="{% url 'user_feed_list' %}">feeds</a>.</p>
